{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}

<h3>Lista de diccionarios de dimensións</h3>
<ul>
{% for diccionario in diccionariodimensiones_list %}
    <li><a href="{% url 'parserapp:diccionarios_dimensiones_detail' pk=diccionario.pk %}">{{ diccionario }}</a></li>
{% endfor %}
</ul>
{% endblock %}