{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}

<h3>{{ diccionariovariable }}</h3>
<ul style="list-style-type: none">
{% for variable in diccionariovariable.variable.all %}
    <hr />
    <li><strong>{{ variable.variable }}</strong></li>
    <ul style="list-style-type: none;">
        <li style=" margin-left: 0;" >Expresión regular:<p style="padding-left: 1em">{{ variable.regexp.regexp }}</p></li>
    </ul>

{% endfor %}
</ul>
{% endblock %}