{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}

<h3>Lista de diccionarios de variables das guías</h3>
<ul>
{% for diccionario in diccionariovariable_list %}
    <li><a href="{% url 'parserapp:diccionarios_variable_detail' pk=diccionario.pk %}">{{ diccionario }}</a></li>
{% endfor %}
</ul>
{% endblock %}