{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}

<h3>{{ diccionariodimensiones }}</h3>
<ul style="list-style-type: none">
{% for dimension in diccionariodimensiones.dimension.all %}
    <hr />
    <li><strong>{{ dimension.parametro }}</strong></li>
    <ul style="list-style-type: none;">
        <li style=" margin-left: 0;" >Expresión regular:<p style="padding-left: 1em">{{ dimension.regexp.regexp }}</p></li>
        {% if dimension.nombre %}
            <li>Nome<p style="padding-left: 1em">{{ dimension.nombre }}</p></li>
        {% endif %}
        {% if dimension.datalayer %}
            <li>DataLayer:<p style="padding-left: 1em">{{ dimension.datalayer }}</p></li>
        {% endif %}
        {% if dimension.ejemplo %}
            <li>Exemplo:<br /><p style="padding-left: 1em">{{ dimension.ejemplo }}</p></li>
        {% endif %}
        {% if dimension.descripcion %}
            <li>Descrición:<br /><p style="padding-left: 1em">{{ dimension.descripcion }}</p></li>
        {% endif %}
    </ul>

{% endfor %}
</ul>
{% endblock %}