{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}


<h3>Diccionario de Expresiones Regulares</h3>
<ul>
{% for regexp in expresionregular_list %}
    <li><strong style="color:blue">{{ regexp }}</strong><br />{{ regexp.regexp }}</li><br />
{% endfor %}
</ul>
{% endblock %}