{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}
{% load guia_extras %}
{% load staticfiles %}

<!-- Loading css async -->
<script>
var linkElement = document.createElement("link");
linkElement.rel = "stylesheet";
linkElement.href = "{% static 'parserapp/basic.css' %}";
document.head.appendChild(linkElement);
</script>


<h2>{{ guia.cadena.nombre }} {{ guia.plataforma }}</h2>
<h3>Versión: {{ guia.version }}</h3>
<p style="margin-top: 25px;">
    <a href="{% url 'parserapp:guia_update' pk=guia.pk %}" class="btn btn-warning">Editar guía</a>
</p>
<p>
    <a href="{% url 'parserapp:guardar_xml' pk=guia.pk %}" class="btn btn-success">Gardar XML</a>
</p>
<p>
    <a href="{% url 'parserapp:guardar_csv' pk=guia.pk %}" class="btn btn-success">Gardar CSV</a>
</p>
<hr />
{% if guia.error.all.count > 0 %}
<p style="color:red;">Errores:</p>
<p>
    <p>To Json</p>
    <ul style="list-style-type:none">
    {% for error in guia.error.all|errores_en_seccion:"ToJson" %}
        <li>{{ error.error }}</li>
    {% endfor %}
    </ul>
    <p>To Xml</p>
    <ul style="list-style-type:none">
    {% for error in guia.error.all|errores_en_seccion:"ToXml" %}
        <li>{{ error.error }}</li>
    {% endfor %}
    </ul>
    <p>To Csv</p>
    <ul style="list-style-type:none">
    {% for error in guia.error.all|errores_en_seccion:"ToCsv" %}
        <li>{{ error.error }}</li>
    {% endfor %}
    </ul>
</p>
{% endif %}

<!--
*******************************
    CONTENIDO DE LA GUÍA
*******************************
-->
<div class="guide_content">
    {% for seccion in guia.json.secciones.all %}
    <h3>{{ subseccion.indice }} {{ subseccion.nombre }}</h3>

        {% for subseccion in seccion.subsecciones.all %}
        <h4>{{ subseccion.indice }} {{ subseccion.nombre }}</h4>

            {% for vista in subseccion.vistas.all %}
            <p class="vista"><strong>VISTA</strong>{{ vista.pagename }}</p>

            <table class="vista-tabla">
                <tr>
                    <td colspan="3"><strong>Pagename: </strong>{{ vsita.pagename }}</td>
                </tr>
                <tr>
                    <td><strong>Sección: </strong>{{ vista.seccion }}</td>
                    <td><strong>Page type: </strong>{{ vista.pagetype }}</td>
                    <td><strong>Page title: </strong>{{ vista.pagetitle }}</td>
                </tr>
            </table>

            <img class="img-screenshot" src="{% static 'parserapp/img_test2.png' %}" alt="Captura da vista" />
            <p class="img-title">Ilustración de mostra</p>

            <p class="blue-separator">Accións de usuario</p>
            <table class="table-eventos">
                <tr>
                    <th>C.F.</th>
                    <th>Categoría</th>
                    <th>Acción</th>
                    <th>Etiqueta</th>
                    <th>Dimens.</th>
                    <th>Lanzamiento</th>
                </tr>
                {% for evento in vista.eventos.all %}
                <tr>
                    <td>{{ evento.clase_funcional }}</td>
                    <td>{{ evento.categoria }}</td>
                    <td>{{ evento.etiqueta }}</td>
                    <td>
                    {% for dim_evento in evento.dimensionesevento.all %}
                        {{ dim_evento.dimension }},
                    {% endfor %}
                    </td>
                    <td width="35%">{{ evento.lanzamiento }}</td>
                </tr>
                {% endfor %}
            </table>

            <p class="blue-separator">Dimensiones y métricas personalizadas</p>
            <table class="table-eventos">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valor (exemplo)</th>
                </tr>
            {% for dim_pageview in vista.dimensionespageview.all %}
                <tr>
                    <td>{{ dim_pageview.dimension }}</td>
                    <td>{{ dim_pageview.dimension_datos.0 }}</td>
                    <td>{{ dim_pageview.dimension_datos.1 }}</td>
                </tr>
            {% endfor %}
            </table>

            <p class="blue-separator">Comentarios</p>
            {% autoescape on %}
            {{ vista.comentarios | linebreaksbr }}
            {% endautoescape %}
            {% endfor %}
        {% endfor %}

    {% endfor %}
</div>

{% endblock %}