{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label }}<br />
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" value="Guardar" class="save btn btn-default">Gardar</button>

</form>

{% autoescape off %}

<script type="text/javascript">
$(function() {
    proyecto_value = "{{ guia.cadena.proyecto }}";
    cadena_value = "{{ guia.cadena.proyecto }}" + " " + "{{ guia.cadena.nombre }}";

    $('#id_proyecto').val(proyecto_value);
    $('#id_cadena').val(cadena_value);
})
$('#id_proyecto').change(function() {
    $('#id_cadena option').hide();
    $('#id_cadena option[value^="' + $(this).val() + '"]').show();

    $('#id_cadena').val('');
});
</script>

{% endautoescape %}

{% endblock %}