{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}


<h2 style="margin-bottom: 30px;">Lista de guías</h2>
{% for guia in guia_list %}
<h4><a href="{% url 'parserapp:guia_detail' pk=guia.pk %}">{{ guia }}</a></h4>
{% endfor %}
<a style="margin-top: 15px" href="{% url 'parserapp:nueva_guia' %}" class="btn btn-success">Nova guía</a>
{% endblock %}