{% extends "ParserApp/parserapp_base.html" %}
{% block content_app %}

<h3>{{ json }}</h3>
<ul>
{% for subseccion in json.subsecciones.all %}
    <li>{{ subseccion.indice }}. {{ subseccion.nombre }}</li>
    <ul>
        {% for vista in subseccion.vistas.all %}
        <li>Vista:<br />{{ vista.vista }}</li>
        <li>Page Name:<br />{{ vista.pagename }}</li>
        <li>Page Title:<br />{{ vista.pagetitle }}</li>
        <li>Page Type:<br />{{ vista.pagetype }}</li>
        <li>Sección:<br />{{ vista.seccion }}</li>
        <ul>
            {% for dimension in vista.dimensionespageview.all%}
                <li>{{ dimension.dimension }}</li>
            {% endfor %}
        </ul>
        <li>Eventos:</li>
        <ul>
            {% for evento in vista.eventos.all %}
            <li>Acción:<br />{{ evento.accion }}</li>
            <li>C.F.:<br />{{ evento.clase_funcional }}</li>
            <li>Categoría:<br />{{ evento.categoria }}</li>
            <li>Etiqueta:<br />{{ evento.etiqueta }}</li>
            <li>Lanzamento:<br />{{ evento.lanzamiento }}</li>
            <li>Dimensóns</li>
            <ul>
            {% for dimension in evento.dimensionesevento.all%}
                <li>{{ dimension.dimension }}</li>
            {% endfor %}
        </ul>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>


{% endfor %}
</ul>
{% endblock %}