<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <title>GuideParser - Proxecto DAW - Alberto G. Reino</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'parserapp/basic.css' %}">
</head>
<body>
<nav class="navbar navbar-default" role="navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home_project' %}">Home</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'parserapp:guias' %}" class="btn btn-simple">Guías</a></li>
            <li><a href="{% url 'parserapp:diccionarios_dimensiones' %}" class="btn btn-simple">Diccionarios dimensións</a></li>
            <li><a href="{% url 'parserapp:diccionarios_variable' %}" class="btn btn-simple">Diccionarios variables de guías</a></li>
            <li><a href="{% url 'parserapp:expresionregular' %}" class="btn btn-simple">Expresións Regulares</a></li>
            <!--<li><a href="{% url 'parserapp:test_all' %}" class="btn btn-simple">Test</a></li>-->
            <li><a href="{% url 'admin:index' %}" class="btn btn-simple">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="container mycontent">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
