html * {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;
}

.guide_content h3, h4 {
     color: #2e74b5;
}

.vista {
    font-weight: bold;
    font-size: 120%;
}

.vista strong {
    color: white;
    font-size: 100%;
    background-color: green;
    padding-left: 5px;
    padding-right: 50px;
}

.vista-tabla {
    width: 100%;
    font-size: 120%;
}

.vista-tabla strong {
    color: #2e74b5;
    font-size: 100%;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 11px;
}

.img-screenshot {
    width: 100%;
    margin:15px 0 0 0;
}

.img-title {
    text-align: right;
    text-size: 80%;
    font-style: italic;
    margin: 5px 0 0 0;
}

.blue-separator {
    background-color: #2e74b5;
    color: white;
    text-weight: bold;
    padding-left: 5px;
    margin: 15px 0 0 0;
}

.table-eventos {
    width: 100%;
}

.table-eventos th {
    color: #2e74b5;
    text-weight: bold
}

.table-eventos tr:nth-child(even) {
    background-color: #c9def1;
}

.table-eventos td,th {
    padding: 2px 5px 2px 5px;
}